streamlit==1.33.0
streamlit-autorefresh==1.0.1
requests==2.31.0
pandas==2.1.4
plotly==5.22.0
numpy==1.26.4
scipy==1.13.1
pytz==2024.1
markdown-it-py==3.0.0
mdurl==0.1.2
pygments==2.19.2
rich==14.1.0
git+https://github.com/dhanrajyadav/dhanhq-python.git
